<html>
    <body>
        <div style="text-align: center">
      
            <h1>HTML Sudoku Board</h1>
            <form name="grid" action="solve" method="get" autocomplete="off">
            <table name="grid" style="text-align: center; margin: 0 auto">
      
              <tr>
                <td><input maxlength="1" name="cell-0"  type="numeric" value="0" style="width: 1cm; height:1cm;" ></td>
                <td><input maxlength="1" name="cell-1"  type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-2"  type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-3"  type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-4"  type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-5"  type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-6"  type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-7"  type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-8"  type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
              </tr>
      
              <tr>
                <td><input maxlength="1" name="cell-9"  type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-10" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-11" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-12" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-13" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-14" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                
                <td><input maxlength="1" name="cell-15" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-16" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-17" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
              </tr>
      
              <tr>          
                <td><input maxlength="1" name="cell-18" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-19" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-20" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                
                <td><input maxlength="1" name="cell-21" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-22" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-23" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-24" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-25" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-26" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
              </tr>
      
              <tr>          
                <td><input maxlength="1" name="cell-27" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-28" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-29" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-30" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-31" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-32" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-33" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-34" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-35" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
              </tr>
      
              <tr>          
                <td><input maxlength="1" name="cell-36" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-37" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-38" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-39" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-40" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-41" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                
                <td><input maxlength="1" name="cell-42" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-43" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-44" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
              </tr>
      
              <tr>          
                <td><input maxlength="1" name="cell-45" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-46" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-47" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-48" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-49" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-50" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-51" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-52" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-53" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
              </tr>
      
              <tr>          
                <td><input maxlength="1" name="cell-54" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-55" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-56" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-57" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-58" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-59" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-60" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-61" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-62" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
              </tr>
      
              <tr>          
                <td><input maxlength="1" name="cell-63" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-64" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-65" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-66" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-67" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-68" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                
                <td><input maxlength="1" name="cell-69" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-70" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-71" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
              </tr>
      
              <tr>          
                <td><input maxlength="1" name="cell-72" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-73" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-74" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-75" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-76" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-77" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                
                <td><input maxlength="1" name="cell-78" type="numeric" value="0" style="width: 1cm; height:1cm;"></td>
                <td><input maxlength="1" name="cell-79" type="numeric" value="0" style="width: 1cm; height:1cm;"  ></td>
                <td><input maxlength="1" name="cell-80" type="numeric" value="0" style="width: 1cm; height:1cm;" style="width: 1cm; height: 1cm;" ></td>
              </tr>
      
            </table>
            <br>
            <input type="submit" name="next" value="submit" style="float:center;">
            </form>
      
        </div>
    </body>
</html>